<!--subscribe-address-->
<section class="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 map-info-right px-0">
{#                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>#}
{#                <!-- map -->#}
                <div class="map">
                    <iframe
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key={{ googleKey }}
    &q=Одеса, Асташкіна 29" allowfullscreen>
                    </iframe>
                </div>
                <!-- //map -->
            </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
                <div class="address-gried ">
                    <img href="https://beetroot.academy/" src="{{ asset('images/beetroot_academy.png') }}" alt=" " class="img-fluid" style="width: 200px">
                    <p><a href="https://beetroot.academy/">Beetroot academy diploma project</a><br>
                    <p>
                </div>
                <div class="address-gried mt-3">
                    <p> Made by Ivan Myasoyedov</p>
                    <img href="https://github.com/Ivan8223/php-symfony-online-shop" src="{{ asset('images/github.png') }}" alt=" " class="img-fluid"style="width: 100px">
                    <p> <a href="https://github.com/Ivan8223/php-symfony-online-shop">https://github.com/Ivan8223/php-symfony-online-shop</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//subscribe-address-->
<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
    <div class="copy-agile-right">
        <p>
            © 2018 Toys-Shop. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
    </div>
</footer>
<!-- //footer -->
