<!--subscribe-address-->
<section class="subscribe">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 map-info-right px-0">
                <div class="map">
                    <iframe
                            frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?key={{ googleKey }}
    &q=Одеса, Асташкіна 29" allowfullscreen>
                    </iframe>
                </div>
                <!-- //map -->
            </div>
            <div class="col-lg-6 col-md-6 address-w3l-right text-center">
                <div class="address-gried ">
                    <img href="https://beetroot.academy/" src="{{ asset('images/beetroot_academy.png') }}" alt=" "
                         class="img-fluid" style="width: 200px">
                    <p><a href="https://beetroot.academy/">Beetroot academy diploma project</a><br>
                    <p>
                </div>
                <div class="address-gried mt-3">
                    <p> Made by Ivan Myasoyedov</p>
                    <img href="https://github.com/Ivan8223/php-symfony-online-shop"
                         src="{{ asset('images/github.png') }}" alt=" " class="img-fluid" style="width: 100px">
                    <p><a href="https://github.com/Ivan8223/php-symfony-online-shop">https://github.com/Ivan8223/php-symfony-online-shop</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//subscribe-address-->
<!-- footer -->
<footer class="py-lg-4 py-md-3 py-sm-3 py-3 text-center">
    <div class="copy-agile-right">
        <p>
            © 2018 Toys-Shop. All Rights Reserved | Design by <a href="http://www.W3Layouts.com" target="_blank">W3Layouts</a>
        </p>
    </div>
</footer>
<!-- //footer -->
